{% extends 'base.html.twig' %}

{% block title %}Blog !{% endblock %}

{% block body %}
    <div class="">

        {% include '/commons/search.html.twig' %}

        <div class="articles">
            <div class="article">
                <h2>{{ post.title }}</h2>
                <p>By: {{ post.author.username }}</p>
                <p>Published on {{ post.date|date('d/m/Y') }}</p>

                {% if post.img is not null %}
                    <img src="{{ post.img }}" alt="illustration"/>
                {% endif %}

                <p>{{ post.content | nl2br }}</p>
            </div>
        </div>

        <div class="back">
            <a href="{{ path('app_blog') }}">Back</a>
        </div>

        <div class="comments">
            <h3>Comments</h3>
            {% for comment in comments %}
                <div class="comment">
                    {% if comment.author.avatar is not null %}
                        <img src="{{ asset('uploads/avatars/' ~ comment.author.avatar) }}" alt="avatar"/>
                    {% endif %}
                    <h4>{{ comment.author.username }}</h4>
                    {% if comment.author.aboutMe is not null and comment.author.aboutMe != '' %}
                        <p class="about-me">{{ template_from_string(comment.author.aboutMe) }}</p>
                    {% endif %}
                    <p>Published on {{ comment.date|date('d/m/Y') }}</p>
                    <p>{{ comment.content | raw }}</p>
                </div>
            {% endfor %}
        </div>
    </div>

    {# If the user is logged in, display the form to add a comment #}
    {% if app.user %}
        <div class="add-comment">
            <h3>Add a comment</h3>
            <form name="add-comment" method="post" action="{{ path('app_blog_post_comment', { 'post': post.id }) }}">
                <textarea name="comment" placeholder="Your comment"></textarea>
                <button type="submit">Add a comment</button>
            </form>
        </div>
    {% endif %}
{% endblock %}
